<div class="jumbotron mb-0">
    <div class="container">
      <h1 class="display-3">Hello, world!</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>



<% if user_signed_in? %>

      <p><a class="btn btn-primary btn-lg" href="/activities/new" role="button">Start logging now</a></p>
<% else%>


<li><%= link_to "Sign Up", new_user_registration_path %></li>
<li><%= link_to "Sign In", new_user_session_path %></li>
      
<% end %>

    </div>
  </div>
