<p id="notice"><%= notice %></p>

<p>
  <strong>Activity:</strong>
  <%= @controller.Activity %>
</p>

<%= link_to 'Edit', edit_controller_path(@controller) %> |
<%= link_to 'Back', controllers_path %>
